* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body.active-modal {
  overflow-y: hidden;
} */

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal__content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  /* padding: 14px 28px; */
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 3px;
  right: 10px;
  padding: 5px 7px;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 2px 2px 0px rgba(49, 49, 49, 0.2);
  padding: 10px;
  align-items: center;
}
.bottom {
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 2px 2px 2px rgba(49, 49, 49, 0.2);

  flex-direction: column;
}
.bottom__create {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* border: 1px solid red; */
  width: 90%;
  margin: 0 auto;
}
.bottom__create input[type="text"] {
  border: 0;
  outline: 0;
  height: 20px;
  margin: 10px;
}
.bottom__create-btn {

  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-self: flex-end;
  padding: 5px;
}
.bottom__text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.middle {
  display: flex;
  flex-direction: column;
}
.middle__section {
  overflow: hidden;
  overflow-y: auto;
  max-height: 150px;
  background: #B1B1B1;
  padding: 5px 10px;
}
.bottom__create_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.close__create{
  cursor: pointer;
}