 .sidebar{
     flex: 0.2;
     /* sticky sidebar */
      position: sticky;
      box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
      top:10vh;
      /* z-index: -1; */
      height: 90vh;
  
      left: 0;
        background-color: #fff;
    }
    @media screen and (max-width: 1024px) {
        .sidebar{
            display: none;
        }
    }
        
    